[submodule "TRGeneralStandards"]
	path = TRGeneralStandards
	url = https://github.com/epics-modules/TRGeneralStandards
[submodule "TRCore"]
	path = TRCore
	url = https://github.com/epics-modules/TRCore
[submodule "TRSIS"]
	path = TRSIS
	url = https://github.com/epics-modules/TRSIS
